
#btn1:pressed {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: white;
}

#auth:pressed {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: white;
}

#textArea {
    -fx-background-image: url("background3.png");
}

#textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#textArea .scroll-pane .content{
    -fx-background-color: transparent;
}

#textArea {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

#textField:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: linear-gradient(#ff5400, #be1d00);
}